<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>daf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6FA74F61BC059DA009DE867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FA750C1BC059E1009DE867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FA75171BC059F0009DE867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
